{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/adminDashboard.css') }}" type="text/css">
{% endblock %}

{% block body %}
   <section class="main">
        <h1>Bienvenue ADMIN</h1>
        <h1>Dashboard</h1>
        <div class="board">
            <a href="">Ajouter une formation</a>
            <a href="">Ajouter un module</a>
            <a href="">Ajouter du matèriel de formation</a>
            <a href="">Ajouter un formateur</a>
            <a href="">Ajouter un tuteur</a>
            <a href="">Ajouter un apprenant </a>
        </div>
   </section>
{% endblock %}
