* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    /* border: 1px solid red; */
    --background-color: #111C2A;
    --bright-background-color:#D0E5F4;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    overflow: hidden;
}
input{
    width: 400px;
    height: 40px;
    padding: 5px;
    color: var(--background-color);
    font-size: 1.2rem;
}
.btn{
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 10px;
}

.bright-btn{
    color: var(--background-color);
    background-color: white;
}
.dark-btn{

    color: var(--background-color);
    background-color:var(--bright-background-color);
    

}
.btn:hover{
    cursor: pointer;
}
.btn-table{
    width: 100px;
    transition: 0.5s;
}
.btn-table:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: var(--background-color);
    color: white;
    
}
.shape {
    width: 242px;
    height: 446px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background: url(../images/shape.png);
    background-size: cover;
}

.shape-top {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.main-center-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10rem;
    height: 100%;
}

td, th {
    padding: 10px;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    min-width: 180px;
    background-color: rgba(255, 255, 255, 0.7);
    /* height: 40px; */
    /* padding: 0 10px 0 10px; */
}
th {
    background-color: #D0E5F2;
    font-size: 1.2rem;
}
.column1{
    background-color: #5C798D;
}
.back-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 10%;
}