
.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0 80px;
    color: white;
    height: 100%;
}
.content{
    height:    100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    width: 100%;

}
.subtitle{
    margin-top: 20px;
    background-color: var(--bright-background-color);
    padding: 3px;
    display: inline;
    color: var(--background-color);
    border-radius: 10px;

}
.subtitle .formation{
    font-size: 1.5rem;
    font-weight: bold;
    color: #5C798D;
}
.main h1, p {
    padding-top: 20px;
    font-size: 1.5rem;

}
.table{
    margin: 0 auto;
    width: 100%;
}
.content h2{
    margin-bottom: 10px;
}

/* .main .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
.column-action{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
