

.form-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.signin-logo {
    width: 300px;
}
.signin-title{
    color: white;
    font-size: 3rem;
}



